@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  min-height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #eeeeee;
  color: #fff;
  border-radius: 8px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  padding: 2px;
  margin: 0px;
}

#time_span {
  position: absolute;
  z-index: 10;
  left: 25px;
  top: 5px;
}

@media screen and (max-width: 415px) {
  #time_span {
    left: 30px;
    top: 14px;
  }
}

.burger-menu {
  width: 100%;
  text-align: right;
}

.burger-menu .navbar-collapse {
  text-align: center;
}

.bg-light {
  background-color: #1a73e8 !important;
  -webkit-box-shadow: 0 3px 4px 0 #000014;
          box-shadow: 0 3px 4px 0 #000014;
  border-radius: 5px;
}

.bg-light .navbar-nav {
  margin: 0 auto;
}

.bg-light .top-menu-bttn {
  background-color: transparent;
  border-color: transparent;
  margin: 0px 10px;
}

.bg-light .top-menu-bttn:hover {
  background-color: #f7f7f7;
  color: #1a73e8;
  text-shadow: 0px 1px 0px #1a73e8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.bg-light .top-menu-bttn:focus {
  -webkit-box-shadow: 0 0 0 0px;
          box-shadow: 0 0 0 0px;
}

.rowToReload {
  margin-bottom: 25px;
}

.modal {
  color: #000014;
}

.modal textarea {
  width: 100%;
}

.modal .top-select {
  width: 130px;
}

.modal .bottom-select {
  width: 75px;
}

.modal .current-data-1,
.modal .current-data-2,
.modal .current-data-3,
.modal .current-data-4,
.modal .current-data-5 {
  position: absolute;
  -webkit-transform: translate(230px, -25px);
          transform: translate(230px, -25px);
  text-decoration: underline;
}

.modal .button-in-modal {
  width: 49%;
  float: right;
  margin: 1px;
  background-color: #1a73e8;
}

.modal .button-in-modal:hover {
  background-color: #f7f7f7;
  color: #1a73e8;
  text-shadow: 0px 1px 0px #1a73e8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-toggler {
  -webkit-box-shadow: 0 0 0 2px;
          box-shadow: 0 0 0 2px;
}

.navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0px;
          box-shadow: 0 0 0 0px;
}

.zeroResult {
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  border-radius: 5px;
  width: 135px;
  -webkit-box-shadow: 0 3px 4px 0 #000014;
          box-shadow: 0 3px 4px 0 #000014;
  border: 1px solid #dedede;
  background: #696764;
}

.msg-card {
  list-style-type: none;
  margin-top: 25px;
  -webkit-box-shadow: 0 3px 4px 0 #000014;
          box-shadow: 0 3px 4px 0 #000014;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.msg-card:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 4px 10px 0px #000014;
          box-shadow: 0 4px 10px 0px #000014;
}

.msg-card .urgent-status {
  display: none;
}

.msg-card .card-header {
  background-color: #696764;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  border-bottom: 1px solid #dedede;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.msg-card .card-header .card-header-inner {
  padding: 5px;
  margin-left: 10px;
}

@media screen and (max-width: 415px) {
  .msg-card .card-header .card-header-inner h4 {
    font-size: 14px;
    float: left;
  }
}

.msg-card .card-header .icon-inner {
  position: absolute;
}

.msg-card .card-header .icon-inner .fa-caret-square-down {
  position: relative;
  display: none;
  left: 0px;
}

@media screen and (max-width: 415px) {
  .msg-card .card-header .icon-inner .fa-caret-square-down {
    display: block;
    font-size: 24px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.msg-card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: none;
  padding: 2px;
  font-size: 18px;
  font-weight: 700;
  background-color: #696764;
}

@media screen and (max-width: 415px) {
  .msg-card .card-body {
    display: block;
  }
}

.msg-card .card-body .body-section-left,
.msg-card .card-body .body-section-right {
  padding: 5px;
  width: 75%;
  padding-left: 15px;
  word-wrap: break-word;
}

@media screen and (max-width: 415px) {
  .msg-card .card-body .body-section-left,
  .msg-card .card-body .body-section-right {
    width: 100%;
  }
}

.msg-card .card-body .body-section-left {
  width: 25%;
  border-right: 1px solid #dedede;
  text-transform: uppercase;
}

@media screen and (max-width: 1490px) {
  .msg-card .card-body .body-section-left {
    width: 40%;
  }
}

@media screen and (max-width: 415px) {
  .msg-card .card-body .body-section-left {
    width: 100%;
    border-right: none;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
}

@media screen and (max-width: 415px) {
  .uid-inner {
    position: absolute;
  }
  .uid-inner .uid-number {
    position: relative;
    display: none;
    left: 0px;
  }
}

@media screen and (max-width: 415px) and (max-width: 415px) {
  .uid-inner .uid-number {
    display: block;
    font-size: 24px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.glow {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  background-image: -webkit-gradient(linear, left top, right top, from(#ee0606), to(#f8f8f8));
  background-image: linear-gradient(90deg, #ee0606, #f8f8f8);
  background-size: 2000%;
  -webkit-animation: gradient 2s ease infinite;
          animation: gradient 2s ease infinite;
  -webkit-filter: blur(15px);
          filter: blur(15px);
  z-index: -1;
}

.borders-red {
  border: 1px solid #ee0606;
}

.glow-text {
  color: #f8f8f8;
  text-shadow: 0 0 10px #ee0611, 0 0 15px #ee0611, 0 0 20px #ee0611, 0 0 25px #ee0611;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.fa-thumbs-up,
.fa-times {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 45%;
  font-size: 70px;
}

.message-sent-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
  top: 95%;
  width: 100%;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 14px;
  margin-left: 0px;
  height: 0px;
  -webkit-transition: 0.3sec;
  transition: 0.3sec;
}

footer .company, footer .copyrights {
  color: #1a73e8;
  padding: 5px;
  float: right;
  text-shadow: 1px 1px 1px #000014;
}

@media screen and (max-width: 415px) {
  footer .company {
    display: none;
  }
}

footer .copyrights {
  float: left;
}
/*# sourceMappingURL=screen-style.css.map */