@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@mixin button-hover {
    background-color: #f7f7f7;
    color: #1a73e8;
    text-shadow: 0px 1px 0px #1a73e8;
    transition: 0.3s;
}

@mixin position-absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

$background: #696764;
$shadow: 0 3px 4px 0 #000014;
$border: 1px solid #dedede;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-height: 400px;
    box-sizing:border-box;
    background: #eeeeee;
    color: #fff;
    border-radius:8px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    padding: 2px;
    margin: 0px;
}

#time_span{
    position: absolute;
    z-index: 10;
    left: 25px;
    top: 5px;
    @media screen and (max-width: 415px){
        left: 30px;
        top: 14px;
    }
}

.burger-menu {
    width: 100%;
    text-align: right;
    .navbar-collapse{
        text-align: center;
    }
}

.bg-light {
    background-color: #1a73e8!important;
    box-shadow: $shadow;
    border-radius: 5px;
    .navbar-nav {
        margin: 0 auto;
    }
    .top-menu-bttn {
        background-color: transparent;
        border-color: transparent;
        margin: 0px 10px;
            &:hover{
                @include button-hover();
            }
            &:focus{
                box-shadow: 0 0 0 0px;
            }
    }
}

.rowToReload {
    margin-bottom: 25px;
}

.modal {
    color: #000014;
    textarea {
        width: 100%;
    }
    .top-select{
        width: 130px;
    }
    .bottom-select{
        width: 75px;
    }
    .current-data-1,
    .current-data-2,
    .current-data-3,
    .current-data-4,
    .current-data-5 {
        position: absolute;
        transform: translate(230px, -25px);
        text-decoration: underline;
    }
    .button-in-modal {
        width: 49%;
        float: right;
        margin: 1px;
        background-color: #1a73e8;
        &:hover {
            @include button-hover();
        }
    }
}

.navbar-toggler {
    box-shadow: 0 0 0 2px;
    margin-right: 10px;
    background-color: #dedede;
    &:focus{
        box-shadow: 0 0 0 0px;
    }
}

.zeroResult {
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    width: 135px;
    box-shadow: $shadow;
    border: $border;
    background: $background;
}

.msg-card {
    list-style-type: none;
    margin-top: 25px;
    box-shadow: $shadow;
    transition: 0.3s;
    border: $border;
    border-radius: 5px;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 10px 0px #000014;
    }
    .urgent-status{
        display: none;
    }
    .card-header {
        background-color: $background;
        display: flex;
        padding: 2px;
        border-bottom: $border;
        align-items: center;
        .card-header-inner {
            padding: 5px;
            margin-left: 10px;
            h4{
                @media screen and (max-width: 415px) {
                    font-size: 14px;
                    float: left;
                }
            }
            
        }
        .icon-inner {
            position: absolute;
            .fa-caret-square-down {
                position: relative;
                display: none;
                left: 0px;
                @media screen and (max-width: 415px){
                    display: block;
                    font-size: 24px;
                    transition: 0.3s;
                }
            }
        }
    }

    .card-body{
        display: flex;
        max-height: none;
        padding: 2px;
        font-size: 18px;
        font-weight: 700;
        background-color: $background;
        @media screen and (max-width: 415px) {
            display: block;
        }
        .body-section-left,
        .body-section-right {
            padding: 5px;
            width: 75%;
            padding-left: 15px;
            word-wrap: break-word;
            @media screen and (max-width: 415px) {
                width: 100%;
            }
        }
        .body-section-left {
            width: 25%;
            border-right: $border;
            text-transform: uppercase;
            @media screen and (max-width: 1490px) {
                width: 40%;
            }
            @media screen and (max-width: 415px) {
                width: 100%;
                border-right: none;
                border-top: $border;
                border-bottom: $border;
            }
        }
    }
}

@media screen and (max-width: 415px) {
    .uid-inner {
        position: absolute;
        .uid-number{
            position: relative;
            display: none;
            left: 0px;
            @media screen and (max-width: 415px){
                display: block;
                font-size: 24px;
                transition: 0.3s;
            }
        }
    }
}

.glow {
    position: absolute;
    width: 0px;
    height: 0px;
    transform: translate(0px, 0px);
    background-image: linear-gradient(90deg, #ee0606,#f8f8f8 );
    background-size: 2000%;
    animation: gradient 2s ease infinite;
    filter: blur(15px);
    z-index: -1;
}

.borders-red {
    border: 1px solid#ee0606;
}

.glow-text{
    color: #f8f8f8;
    text-shadow: 0 0 10px #ee0611,
                0 0 15px #ee0611,
                0 0 20px #ee0611,
                0 0 25px #ee0611;
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}

.fa-thumbs-up, 
.fa-times {
    @include position-absolute-center;
    top: 45%;
    font-size: 70px;
}

.message-sent-text {
    @include position-absolute-center;
    font-size: 24px;
    top: 95%;
    width: 100%;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 14px;
    margin-left: 0px;
    height: 0px;
    transition: 0.3sec;
    .company, .copyrights {
        color: #1a73e8;
        padding: 5px;
        float: right;
        text-shadow: 1px 1px 1px #000014;
    }
    .company{
        @media screen and (max-width: 415px) {
            display: none;
        }
    }
    .copyrights {
        float: left;
    }
}