* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #445261;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 320px;
    border-radius: 10px;
    background: rgba(232,232,232,0.15);
    box-shadow: 0 10px 10px 0 #1e2021;
}

.login-logo{
    background-color: gold;
    position: inherit;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    &::after{
        background-color: #445261;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }
}

.fa-key {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 70px;
    color: #ffe8b0;
    z-index: 10;
}

form{
    margin-top: 70px;
    width: 100%;
    label {
        color: #f7f7f7;
        position: relative;
        top: 10px;
        left: 25px;
        font-size: 18px;
    }
    input {
        background: rgba(232,232,232,0.50);
        width: 90%;
        margin: 0 auto;
        display: block;
        margin-top: 15px;
        outline: none;
        border: none;
        color: #f7f7f7;
        padding: 5px;
        font-size: 18px;
        border-radius: 5px;
        box-shadow: 0 10px 10px 0 #445261;
        color: #ffe8b0;
    }
    input[type=submit] {
        margin-top: 35px;
        color: #f7f7f7;
        cursor: pointer;
        &:hover{
            color: #ffe8b0;
            background: rgba(232,232,232,0.20);
            transition: all 0.3s;
        }
      }
}